<div class="text-layout">
    <h1>Decimal Pipes & Percentage</h1>
    <p>Pipes included in Angulars common module</p>

</div>

<div class="grid">
    <div class="col-4">
        <p-card header="Brute sales" subheader=" of year">
            {{salesBrute | number:'1.2-2' }}
            <i class="pi pi-euro"></i>
        </p-card>
    </div>
    <div class="col-4">
        <p-card header="Currency pipe" subheader=" ">
            {{salesBrute + 35000 | currency:'EUR':'symbol-narrow':'1.2-2' }}
        </p-card>
    </div>
    <div class="col-4">
        <p-card header="Percentage" subheader=" ">
            {{percentage | percent:'2.2-2' }}
        </p-card>
    </div>

</div>